.checkout_ad {
    width: 100%;
    margin-bottom: 10px
}

.checkout {
    display: flex;
    background-color: white;
    padding: 20px;
    height: max-content;
}

.checkout_userName {
    padding-left: 10px;
}

.checkout_title {
    margin-right:10px;
    padding: 10px;
    border-bottom: 1px lightgray solid;
}